div {
    font-size: 14px;
    font-family: Helvetica Neue;
}

div a {
	color: #007FFF;
    text-decoration: underline;
	text-decoration-color: #007FFF;
}

h2 {
	font-size: 14pt;
    font-family: Helvetica Neue;

}